<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Final Project: Instrument Store 215</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="instrumentstore">
    <button v-on:click="emptyCart" class="right"> Cart: {{cart.length}} Items (Click to Empty Cart)</button>
 
  <div>
    <button v-on:click="popUp2">Add New Instrument</button>
    <div class="popUp2"v-bind:class="{hide:selected==false,popUp2:selected==true}">
      <div>
      <img src="https://th.bing.com/th/id/OIP.FHvdBABAfiSb51y6hSbVgwHaHw?w=196&h=205&c=7&o=5&dpr=1.5&pid=1.7" v-on:click="popUp2" class="exit"/>
        
   <input type="text" placeholder="Instrument Name..." v-model="name">
       <input type="text" placeholder="Instrument Type..." v-model="type">
      <label for="new" >Choose Brand:</label>

<select name="brand" id="brand" v-model="brand" >
  <option value="Yamaha">Yamaha</option>
  <option value="Maton">Maton</option>
  <option value="Fender">Fender</option>
</select>
       <input type="text" placeholder="Instrument Price" v-model="price">
       
       {{mess}}
      <button v-on:click="newInstrument">Add New Instrument</button>
        
      </div>
    </div>
  </div>
  <div v-if="instrument.length==0" >Store is Empty</div>
  <div class="product" v-bind:class="item.brand" v-for="(item,index) in instrument" v-on:click="popUp(index)">
    
      <div> <img v-bind:src="item.img"></img> </div>
        {{item.name}}
      <button v-on:click="submit(item,index);popUp(index)"> Add To Cart</button>
  
      
       <div v-bind:class="{hide:item.selected==false,popUp:item.selected==true}">
         <div >
          <img v-bind:src="item.img">
          Name: {{item.name}}
          <br>
          Type: {{item.type}}
          <br>
          Brand: {{item.brand}}
          <br>
          Price: {{item.price}}
          <br>
          <button v-on:click="submit(item,index);popUp(index)"> Add To Cart</button>
          </img>
</d>
      </div>
    </div>

  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
